body {
    background-color: #f1ede3;
    text-align: center;
}
header {
    height: 20%;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    color: black;
}
a {
    text-decoration: none;
    color: inherit;
}
hr{
    background-color: #bababa;
    height: 2px;
    border: none;
}
nav {

    background-color: #f1ede3;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
    font-size: larger;
    text-transform: uppercase;
    font-family: sans-serif;
    right: 0;
    left: 0; 
}
/* Style the navigation menu */
.hamburger {
    overflow: hidden;
    background-color: #f1ede3;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .hamburger #myLinks {
    display: none;
    font-size:x-small;
    font-weight: bold;
  }
  
  /* Style navigation menu links */
  .hamburger a {
    color: black;
    padding: 1% 2%;
    text-decoration: none;
    font-size: 200%;
    display: block;
  }
  
  /* Style the hamburger menu */
  .hamburger a.icon {
    background: #f1ede3;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .hamburger a:hover {
    background-color: #f1ede3;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #f1ede3;
  }
  .intro_index {
    background-image: url("../img/sackhuepfen.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    size: 8rem;
    color:#f8f0dc;
    font-size: xx-large;
  }

  @media (max-width: 767px) {
    .hamburger {
      display: block;
    }
    nav{
        display: none;
    }
    .hidenav{
        display:none;
    }
    .intro_index{
      font-size: medium;
    }
  }

  @media (min-width: 768px){
    .hamburger {
        display: none;
    }
  }
  
nav a:hover {
    color: #d0c6ac;
}
nav a {
    color: #515151;
    text-decoration: none;
    font-weight: bold;
    padding: 1%;
    border-radius: 4%;
}  
  
section {
    padding: 1rem;
    font-family: sans-serif;
}
h1 {
    font-size: 2em;
}

footer {
    background-color: #d0c6ac;
    text-align: center;
    height: 10rem;
    text-transform: uppercase;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
}
.no-bullets {
    font-weight: lighter;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.intro {
    background-color: #d0c6ac;
}


.content{
  text-align: left;
}