body {
    background-color: #f1ede3;
    text-align: center;
}
header {
    background-image: url('header-background.jpg');
    height: 20%;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
hr{
    background-color: #515151;
    height: 2px;
    border: none;
}
nav {

    background-color: #f1ede3;
    color: #515151;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
    font-size: larger;
    text-transform: uppercase;
    font-family: sans-serif;
    right: 0;
    left: 0; 
}
nav a:hover {
    color: #d0c6ac;
}
nav a {
    color: #515151;
    text-decoration: none;
    font-weight: bold;
    padding: 1%;
    border-radius: 4%;
}  
  
section {
    padding: 1rem;
    font-family: sans-serif;
}
h1 {
    font-size: 2em;
}

footer {
    background-color: #d0c6ac;
    text-align: center;
    height: 10rem;
    text-transform: uppercase;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
}
.no-bullets {
    font-weight: lighter;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.intro {
    background-color: #d0c6ac;
}