@import url(index.css);

#searchInput {
    width: 100%; /* Set the width to 100% to match the table width */
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f1ede3;
    border-color: #d0c6ac
   }
 table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f1ede3;
    border-color: #d0c6ac;
    font-size: large;
 }
 th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color: #f1ede3;
    border-color: #d0c6ac
 }
 th {
    background-color: #f1ede3;
    border-color: #d0c6ac
 }

 button {
   background-color: #d0c6ac;
   border-radius: 5px;
   color: #444;
   font-weight: bold;
   width: 20rem;
   height: 5rem;
   font-size: xx-large;
   border-style: solid 1px;
   border-color: #444;
 }
 
 button:hover {
   background-color: #f1ede3;
   border-style: solid 1px;
   border-color: #444;
 } 
h2 {
   text-align: left;
}

 .spielelinks{
   text-align: center;
 }


 @media (max-width: 767px) {
   table{
      font-size: small;
   }
   }

