@import url(index.css);

.intro_winner {
    background-image: url("../img/winner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    size: 8rem;
    color:#f1ede3;
    -webkit-text-stroke: 0.01px #d0c6ac;
    font-size: xx-large;
    font-family: 'patua_oneregular';
    height: 300px;
    align-content: center;
  }

  @media (max-width: 767px) {
    .hamburger {
      display: block;
    }
    nav{
        display: none;
    }
    .hidenav{
        display:none;
    }
    .intro_winner{
      font-size: medium;
      height: 100%;
    }
  }
  @media (min-width: 768px){
    .hamburger {
        display: none;
    }
  }